body {
    font-family: Arial, sans-serif;
    background: #d0d5fc;
    color: #222222;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.my_navbar {
    z-index: 1;
    display: block;
    background: #bf6aff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    font-size: 0;
    box-sizing: border-box;
    padding: 7px 30px;
}

.menu {
    font-size: 14px;
    line-height: 1;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: #fffee8;
}

.menu li {
    margin-right: 10px;
    display: inline-block;
}

.menu li a {
    display: inline-block;
}

.menu li a:hover {
    color: #ffc122;
}

h1 {
    text-align: center;
    font-weight: 700;
    color: #bf6aff;
}

h4 {
    color: #fffee8;
}

.form-error {
   color: red;
   font-size: 12px;
   margin: 5px 0 0 0
}

.field-error {
   border: solid 1px red;
   box-shadow: red 0 0 3px;
}

.btn {
    background: #bf6aff;
    border: 0px;
}

.pagination {
   text-align: center;
}

.pagination a, .pagination .page-disabled {
   display: inline-block;
   border: solid 1px #6a7ddd;
   border-radius: 3px;
   padding: 5px;
   margin: 3px;
}

.pagination a {
   background: #6a7ddd;
   color: white;
}

.pagination a:hover {
   background: #6a7dff;
}

.pagination .page-disabled {
   background: #6a7dcc;
   color: #dddddd
}
