{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<h1>Issues</h1>
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% for issue in issues %}
        <div class="card mb-3">
          <div class="card-header d-flex justify-content-between">
            <span>{{ issue.title }}</span>
              <span class="text_small">
                  {{ issue.created_at|date:'d.m.Y' }} {{ issue.created_at|time:'H.i.s' }}
              </span>
          </div>
          <div class="card-body">
            <a href="{% url 'webapp:issue' issue.pk %}" class="btn btn-primary">More</a>
          </div>
        </div>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}

{% endblock %}
