{% extends "base.html" %}
{% block title %}article{% endblock %}

{% block content %}
    <div class="card">
      <div class="card-header">
        {{issue.title}}
      </div>
      <div class="card-body">
        <h5 class="card-title">Author: {{ issue.author }}</h5>
          <p class="card-text">Status: {{ issue.issue_status }}</p>
          <p class="card-text">Type: {{ issue.issue_type }}</p>
          <hr>
          <p class="card-text">{{ issue.description }}</p>
      </div>
    </div>

{% endblock %}
